<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">
<html lang="en">
<head>
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

</header>

<main>
    <div class="mainContainer row">

        <div class="col-3 border">
            <div class="row">
                <div class="col-12 border">Photo</div>
                <div class="col-12 border">Settings</div>
                <div class="col-12 border">Account settings</div>
            </div>
        </div>



        <div class="col-9 border w-100">
            <div class="row">Xush kelibsiz Mahmud Salomov</div>
            <div class="card-header w-100">
                <ol style="list-style-type: none">
                   <li style="float: left">bir</li>
                   <li style="float: left">ikki</li>
                   <li style="float: left">uch</li>
                </ol>
            </div>
            <div class="card-body w-100"></div>
        </div>

    </div>
</main>


<footer>

</footer>


</body>
</html>