

body{

}

input[type=radio]{
    width: 20px;
    height: 20px;
}


.btn-submit:hover{
    /*opacity: 0.9;*/
    transition: 150ms;
    /*transform: scale(1.01);*/
}
.btn-submit{
    cursor: pointer;
    background-color: #2ff960;
    height: 10%;
    border-radius: 10px;
    /*width: 20px;*/
    box-shadow: 0 1px #999;
    color: black;
    /*font-size: medium;*/
    font-weight: bold;
    font-family: Arial, serif;
}



.btn-submit:active{
    box-shadow: 0 0 #666;
    transform: translateY(2px);
}

.divlar{
    border-radius: 20px;
}