<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/style.css}" />
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgba(0,255,0,0.46)">
<main>
    <div class="col-12 d-flex h-100 justify-content-center container align-content-center mt-2">
        <div style="background-color: #d1e2ed; border-radius: 20px" class="pb-2 shadow row w-75 border-danger mb-5 d-flex justify-content-center">
            <h3 class="col-12 text-center" style="font-weight: bold">Virtual bank tizimi</h3>
            <div class="col-lg-6 col-md-12 w-100 border d-flex mt-2  justify-content-center" >



                <div style="height: 100%; " class="mb-5 divlar border w-100 pl-5 pr-5 row d-flex justify-content-center  border-dark">

                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="text" placeholder="Ism">
                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="text" placeholder="Familiya">
                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="password" placeholder="Yangi parol">
                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="password" placeholder="Yangi parolni tasdiqlash">
                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="email" placeholder="Email">
                    <input class="col-10 w-75  m-3 shadow-sm input-group row justify-content-center  " type="number" placeholder="Telefon raqam">

                </div>


            </div>

            <div class="col-lg-6 col-md-12 w-100 border d-flex mt-2  justify-content-center">
                <div style="height: 100%;" class="mb-5 divlar border w-100 pl-5 pr-5 row d-flex justify-content-center  border-dark">

                    <input class="col-10 w-75  m-3 shadow-sm input-group justify-content-center  text-center" type="date" placeholder="Ism">
                    <div style="background-color: white" class="rad border-light col-10 w-75  m-3 shadow-sm input-group justify-content-center  text-center">
                        <span class="mr-5">Jinsingiz:</span>
                        <input class="ml-2" type="radio" name="gender" value="ayol"> Erkak
                        <input class="ml-2" type="radio" name="gender" value="erkak"> Ayol
                    </div>
                    <input class="col-10 w-75  m-3 shadow-sm input-group justify-content-center  " type="text" placeholder="Viloyat">
                    <input class="col-10 w-75  m-3 shadow-sm input-group justify-content-center  " type="text" placeholder="Shahar/tuman">
                    <input class="col-10 w-75  m-3 shadow-sm input-group justify-content-center  " type="number" placeholder="Yangi pin">
                    <input class="col-10 w-75  m-3 shadow-sm input-group justify-content-center  " type="number" placeholder="Yangi pinni tasdiqlash">

                </div>

            </div>
            <button class="col-3 mt-2 btn-submit" type="submit"><span>Ro'yhatdan o'tish</span></button>
            <p class="text-center col-12 mb-4 mt-2">Ro'yhatdan o'tganmisiz? <a href="/" class="text-center">Kirish</a></p>

        </div>
    </div>
</main>






</body>
</html>