<div th:fragment="header" class="border row">
        <div class="col-4 border d-flex justify-content-center" style="height: 120px">
            <div style="border-radius: 100%; background-color: darkgray" class="card w-50 h-75 d-flex justify-content-center border mt-2">
                <h2 class="card-body text-center h-25" style="horiz-align: center; vertical-align: center;  font-family: Helvetica,fantasy">VBT</h2>
                <h6 class="card-body text-center h-25" style="font-family: Helvetica,fantasy">
                    Virtual bank tizimi
                </h6>
            </div>
            <div class="row">

            </div>

        </div>
        <div class="col-4">aaaaaa</div>
        <div class="col-2 pt-4 d-flex justify-content-center">
            <button class="h-50 w-75">Kirish</button>
        </div>
        <div class="col-2 pt-4 d-flex justify-content-center">
            <button class="h-50 w-75 btn-block">Ro'yhatdan o'tish</button>
        </div>
 </div>

